*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.pem
*.crt
*.cert
*.der
/app/src/main/res/raw/certificate.pem
app/src/main/res/raw/certificate.pem